# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/
.swiftpm/

# macOS
.DS_Store

# CocoaPods / Carthage (kullanırsan)
# Pods/
# Carthage/Build/